<div id="photopage">
  
  <h4>Title:</h4>
  <p><%= @photo.title %></p>


  <h4>Location:</h4>
  <p><%= @photo.location %></p>


  <h4>Description:</h4>
  <p><%= @photo.description %></p>

  <div class="image">
    <%= image_tag @photo.campaign_pic.url %>
  </div>

  <br>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Make a Donation"
          data-amount="500"
          data-currency="gbp"
          data-bitcoin="true"
          data-locale="auto"></script>
  <% if @photo.user_id == current_user.id %>
  <%= link_to 'Edit', edit_campaign_photo_path(@photo) %>
  <% end %>
   |
  <%= link_to 'Back', @campaign %>
</div>