<div id="photopage">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @photo.title %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @photo.location %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @photo.description %>
  </p>

  <div class="image">
    <%= image_tag @photo.campaign_pic.url %>
  </div>

  <br>

  <%= link_to 'Buy', campaign_photo_path(@photo), class: "btn btn-primary" %>

  <%= link_to 'Edit', edit_campaign_photo_path(@photo) %> |
  <%= link_to 'Back', @campaign %>
</div>