<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @photo.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<p>
  <b>Donate Image:</b>
  <%= image_tag @photo.campaign_pic.url %>
</p>

<%= link_to 'Edit', edit_campaign_photo_path(@photo) %> |
<%= link_to 'Back', campaign_photos_path %>
