<p id="notice"><%= notice %></p>

<h1>Campaigns</h1>
<div class="card-deck-wrapper">
  <div class="card-deck">
    <% @campaigns.each do |campaign| %>
    <% if campaign.user_id == current_user.id %>
    <div class="card">
      <img class="card-img-top" src="<%= campaign.campaign_logo.thumb.url %>" alt="<%= campaign.title %>">
      <div class="card-block">
        <h4 class="card-title"><%= campaign.title %></h4>
        <p class="card-text"><%= campaign.description %></p>
        <small class="text-muted">Added on <%= distance_of_time_in_words(Time.now, campaign.created_at) %> ago</small></p>
        <%= link_to 'Show', campaign, class: "btn btn-primary" %>
        <%= link_to 'Edit', edit_campaign_path(campaign), class: "btn btn-primary" %>
        <%= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
      </div>
    </div>
    <% else %>
    <span>That one isn't yours :(</span>
    <% end %>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Campaign', new_campaign_path if is_charity? %>
