<p id="notice"><%= notice %></p>

<h1>Campaigns</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campaigns.each do |campaign| %>
    <div class="card">
      <img class="card-img-top" src="<%= campaign.campaign_logo.thumb.url %>" alt="<%= campaign.title %>">
      <div class="card-block">
        <h4><%= campaign.title %></h4>
        <p class="card-text"><%= campaign.description %></p>
        <%= link_to 'Show', campaign %>
        <%= link_to 'Edit', edit_campaign_path(campaign) %>
        <%= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campaign', new_campaign_path if is_charity? %>
