<!DOCTYPE html>
<html>
  <head>
    <title>PhotoAid</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light bg-faded">
        <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
          <ul class="nav navbar-nav">
            <% if current_user %>
              <a class="navbar-brand">Hi <%= current_user.first_name %>!</a>
              <li class="nav-item"><%= link_to "Campaigns", campaigns_path, class:"nav-link"%></li>
              <li class="nav-item"><%= link_to "Charities", campaigns_path, class:"nav-link"%></li>
              <li class="nav-item"><%= link_to "Photos", photos_path, class:"nav-link"%></li>
              <li class="nav-item"><%= link_to "Your Profile", users_path, class:"nav-link" %></li>
              <li class="nav-item"><%= link_to "Log out", destroy_user_session_path, method: :delete, class:"nav-link" %></li>
          <% else %>
              <li class="nav-item"><%= link_to "Sign In", new_user_session_path, class:"nav-link" %></li>
              <li class="nav-item"><%= link_to "Register", new_user_registration_path, class:"nav-link" %></li>
            </ul>
          <% end %>
          <% if is_charity? %>
          <p>You're logged in as a charity!</p>
          <% end %>
        </div>
      </nav>
    </header>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
